<div class="container my-5">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let questions of listOfQuestions; let i = index">
      <div class="d-flex justify-content-between align-items-center">
        <span>Test #{{i + 1}}</span> 
        <button class="btn btn-primary" (click)="startTest(i, confirmModal)">Start</button>
      </div>
    </li>
  </ul>
</div>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" [(ngModel)]="confirmCheck">
        I agree to start
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!confirmCheck" (click)="modal.close()">Proceed</button>
    <button type="button" class="btn btn-light" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>


